<div class="category-item">
    <a href="{{ path('app_item_list', { slug: category.slug}) }}">
        <div class="item-logo"><img src="{{ asset('uploads/files/' ~ category.image) }}" alt="{{ category.title }}" /></div>
        <div class="item-title">
            <h3>{{ category.title }}</h3>
        </div>
    </a>
</div>