{% extends 'main.html.twig' %}
{% block title %} - {{ category.title }}{% endblock %}
{% block body %}
    <main class="wrapper">
        {% include 'partials/item/_header.html.twig' %}
        <div class="content">
            {% include 'partials/item/_breadcrumb.html.twig' %}
            <div class="row">
{#                <h1>{{ category.title }}</h1>#}
                {% include 'partials/category/_buttons.html.twig' %}
                <div class="col-md-12">
                    {% if items is not null %}
                        {% for item in items %}
                            {% include 'partials/event/_list.html.twig' %}
                        {% endfor %}
                    {% else %}
                        <p>{{ 'List empty'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}