<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="robots" content="noindex,nofollow">
<title>{% block title %}Поляна Трэвел{% endblock %}</title>
<meta name="description" content="Поляна Трэвел">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta property="og:title" content="Поляна Трэвел" />
<meta property="og:description" content="Поляна Трэвел" />
{#<meta property="og:image" content="{{ asset('assets/images/logo.svg') }}" />#}
{#<meta property="og:image:url" content="{{ asset('assets/images/logo.svg') }}" />#}
<meta property="og:image:width" content="177" />
<meta property="og:image:height" content="58" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Поляна Трэвел" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Поляна Трэвел" />
<meta name="twitter:description" content="Поляна Трэвел" />
{#<meta name="twitter:image" content="{{ asset('assets/images/logo.svg') }}" />#}