<header class="header">
    <div class="row">
        <div class="col-md-7 logo">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('assets/images/logo2.svg') }}" alt="" />
            </a>
        </div>
        <div class="col-md-5 buttons">
            <a class="btn " href="#" role="button">{{ 'Events'|trans }}</a>
            <a class="btn " href="#" role="button">{{ 'Map'|trans }}</a>
        </div>
    </div>
</header>