{% extends 'map.html.twig' %}
{% block title %} - {{ category.title }}{% endblock %}
{% block body %}
    <main class="wrapper">
        {% include 'partials/item/_header.html.twig' %}
        <div class="content">
            {% if isEvent == 1 %}
                {% include 'partials/event/_breadcrumb.html.twig' %}
            {% else %}
                {% include 'partials/item/_breadcrumb.html.twig' %}
            {% endif %}
            <div class="row">
                {#<h1>{{ category.title }}</h1>#}
                {% include 'partials/category/_buttons.html.twig' %}
                <div class="col-md-12">
                    {% if items %}
                        <div id="map" style="height: 700px;"></div>
                        {% include 'partials/location/_map_detail_script.html.twig' %}
                    {% else %}
                        <p>{{ 'No items'|trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}