{% extends 'map.html.twig' %}
{% block title %} - {{ category.title }}{% endblock %}
{% block body %}
    <main class="wrapper">
        {% include 'partials/item/_header.html.twig' %}
        <div class="content">
            {% include 'partials/item/_map_breadcrumb.html.twig' %}
            <div class="row">
                <div class="col-md-12">
                    {% for category in categories %}
                        {{ category.title }}<br />
                        {% for item in category.items %}
                            <div id="map" style="height: 700px;"></div>
                            {% include 'partials/location/_map_script.html.twig' %}
                        {% endfor %}

                    {% endfor %}

                    {#{% if items %}
                        <div id="map" style="height: 700px;"></div>
                        {% include 'partials/location/_map_script.html.twig' %}
                    {% else %}
                        <p>{{ 'No items'|trans }}</p>
                    {% endif %}#}
                </div>
            </div>
        </div>
    </main>
{% endblock %}