<!DOCTYPE html>
<html lang="ru">
<head>
    {% block custom_stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/custom.css') }}" media="all">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
