<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'partials/misc/_meta.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% include 'partials/_main_svg.html.twig' %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
