{% extends 'main.html.twig' %}
{% block title %}{{ item.title }}{% endblock %}
{% block body %}
    <main class="d-flex flex-nowrap">
        <h1 class="visually-hidden">{{ item.title }}</h1>

        <div class="b-divider b-vr-left"></div>
        <div class="b-divider b-vr"></div>
        {% include 'partials/nav.html.twig' %}

        <div class="b-divider b-vr"></div>
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">

            <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-5 fw-semibold">{{ item.title }}</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
                <!-- Content -->
            </div>
        </div>

        <div class="b-divider b-vr"></div>
    </main>
{% endblock %}
